
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titleblock {
    height: 90vh;
    padding-left: 10vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

.block__content {
    width: 45%;
    height: 55%;
    display: flex;
    flex-direction: column;
}

.block__content > h1 {
    font-size: 3rem;
    color: #091133;
}

.block__content > p {
    color: #37447E;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 3vh 0 4.5vh;
}

.block__content__grp {
    display: flex;
    justify-content: space-between;
}

.block__content__block {
    width: 45%;
}

.block__content__block > h3 {
    margin: 1vh 0;
    color: #091133;
}

.block__content__block > p {
    color: #5D6970;
    font-weight: 400;
}

.titleblock > img {
    width: 75%;
    position: absolute;
    top: 7%;
    right: -28%;
    z-index: 2;
}

.second-block {
    height: 80vh;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block__content > h2 {
    font-size: 2.5rem;
    color: #091133;
}

.second-block > img {
    width: 45%;
}

.third-block {
    height: 80vh;
    padding: 5vh 10vw;
}

.third-block > h2 {
    font-size: 2.5rem;
    color: #091133;
    font-weight: 500;
}

.third-block > p {
    width: 55%;
    color: #6F7CB2;
    font-weight: 300;
    margin: 3vh 0 8vh;
}

.block-grp {
    display: flex;
    justify-content: space-between;
} 

.block-grp__block {
    width: 30%;
}

.block-grp__block > h4 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: #37447E;
    margin-bottom: 3vh;
}   

.block-grp__block > h5 {
    font-size: 1.7rem;
    font-weight: 400;
    color: #091133;
    margin-bottom: 2vh;
}

.block-grp__block > p {
    color: #5D6970;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 3vh;
}

.block-grp__block > button {
    width: 55%;
    background-color: #111B47;
    border: 0.2rem solid #111B47;
    padding: 1vh 0;
    font-size: 1.1rem;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

.block-grp__block > button:hover {
    background-color: transparent;
    color: #111B47;
}

@media screen and (max-width: 992px) {
    .titleblock {
        height: auto;
        padding: 5vh 10vw;
        flex-direction: column-reverse;
    }

    .block__content {
        width: 100%;
        height: 80%;
    }

    .block__content > p {
        text-align: center;
    }

    .titleblock > img {
        width: 100%;
        position: static;
    }

    .block__content__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block__content__block > h3 {
        text-align: center;
    }

    .block__content__block > p {
        text-align: center;
    }

    .second-block {
        padding: 5vh 10vw;
        height: auto;
        flex-direction: column;
        justify-content: baseline;
    }

    .second-block > img {
        width: 100%;
        margin-top: 5vh;
    }

    .third-block {
        height: auto;
    }

    .third-block > h2 {
        text-align: center;
    }

    .third-block > p {
        text-align: center;
        width: 100%;
    }

    .block-grp {
        flex-direction: column;
    }

    .block-grp__block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3vh;
    }

    .block-grp__block > h4 {
        text-align: center;
    }

    .block-grp__block > h5 {
        text-align: center;
    }

    .block-grp__block > p {
        text-align: center;
    }

    .block-grp__block > button {
        width: 75%;
    }
}

@media screen and (min-width: 2160px) {
    .titleblock {
        padding-left: 5vw;
        width: 100%;
    }

    .block__content > h1 {
        font-size: 8rem;
    }

    .block__content > p {
        font-size: 3rem;
    }

    .block__content__block > img {
        width: 20%;
    }

    .block__content__block > h3 {
        font-size: 5rem;
    }

    .block__content__block > p {
        font-size: 2.2rem;
    }

    .second-block h2 {
        font-size: 6rem;
    }

    .third-block > h2 {
        font-size: 6rem;
    }

    .third-block > p {
        font-size: 3rem;
    }

    .block-grp__block > h4 {
        font-size: 5rem;
    }

    .block-grp__block > h5 {
        font-size: 4rem
    }

    .block-grp__block > p {
        font-size: 3rem;
    }

    .block-grp__block > button {
        font-size: 3rem;
    }
}
